<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{card.name}}</mat-card-title>
  </mat-card-header>
  <figure>
    <img mat-card-image [src]="card.pic" alt="Imagem do card">
  </figure>
  <mat-card-content>
    <p>
      {{card.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onLike()" [style.background]="color">
      LIKE
    </button>
    <button mat-button (click)="onShare()" [style.background]="'#7fffd4'">SHARE</button>
    <div class="count-likes">
      <p>{{card.likes}}</p>
      <mat-icon>thumb_up</mat-icon>
    </div>
  </mat-card-actions>
</mat-card>