.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 5%;
}

.content {
  width: 100%;
  max-width: 1200px;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
  font-family: Lato;
}
